<%- include('header') %> 
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Update Student page</h1>
                    <form action="/students/update" method="post">
                        <label class="form-item" for="name">Name:</label>
                        <input class="form-control" type="text" value="<%= student.name %>"  name="name">
                        <label class="form-item" for="batch">batch:</label>
                        <input type="text" class="form-control" value="<%= student.batch %>"  name="batch">
                        <input type="hidden" value="<%= student._id %>" name="id">
                        <br>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
<%- include('footer') %> 